<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>549560529818-ggh1um47pdclig6h6l6v2kuk19lau1q2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.549560529818-ggh1um47pdclig6h6l6v2kuk19lau1q2</string>
	<key>API_KEY</key>
	<string>AIzaSyBZkg9jvzh6uYSoCy3kCG14lu9HUgWurrA</string>
	<key>GCM_SENDER_ID</key>
	<string>549560529818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adrianacarioba.livrocomersemculpa</string>
	<key>PROJECT_ID</key>
	<string>comer-sem-culpa-b3939</string>
	<key>STORAGE_BUCKET</key>
	<string>comer-sem-culpa-b3939.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:549560529818:ios:14bba1ba63a0dc795e4023</string>
	<key>DATABASE_URL</key>
	<string>https://comer-sem-culpa-b3939-default-rtdb.firebaseio.com</string>
</dict>
</plist>